.stApp{
    background: linear-gradient(
   135deg,
  /* #f8fafc 0%,
   #e0f2fe 50%,
   #f1f5f0 100%*/
   #f57b7f 0%,
   #863539 50%,
   #de4ea5 100%,

    );
    color: #7f4b8a;
    min-height: 100vh;
    font-family: "segoe UI",sans-serif;

}

.card{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

h1,h2,h3{
    color: #0f172a;

}
div[data-tested="metric-container"]{
    background-color: #f8fafc;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);

}

.prediction-box{
    background: linear-gradient(
   135deg,
   #dcfce7 ,
   #bbf7d0

    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #14532d;
    margin-top: 15px;

}